<h1>Players - Index</h1>

<div class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h5><em>sort by: </em></h5></a>
	<ul class="dropdown-menu">
		<li>name</li>
		<li>team</li>
		<li>league</li>
		<li>position</li>
		<li>age</li>
	</ul>
</div>
<br>
<ul>
<% @players.each do |player| %>
	<li>#<%=player.uniform_number %> <strong><%= link_to "#{player.first_name} #{player.last_name}", player_path(player) %></strong> - <%= link_to player.team.team_name, team_path(player.team) %> (<%=link_to player.team.league.league_name, league_path(player.team.league) %>)</li>
	<br>
<% end %>
</ul>
<br>
<%= link_to "Create a new player", new_player_path, class: "btn btn-default" %>